<div id="myFooter">
  <ul>
    <li (click)="gotoPage(shouye)">
      <img *ngIf='!shouye.checked' [src]="shouye.name1Img" alt="">
      <img *ngIf='shouye.checked' [src]="shouye.name1ImgActive" alt="">
    </li>
    <li *ngIf="!anData.isAdmin"  (click)="gotoPage(huzhu)">
      <img *ngIf='!huzhu.checked' [src]="huzhu.name2Img" alt="">
      <img *ngIf='huzhu.checked' [src]="huzhu.name2ImgActive" alt="">
    </li>
    <li *ngIf="anData.isAdmin"  (click)="gotoPage(kongzhi)">
      <img *ngIf='!kongzhi.checked' [src]="kongzhi.name22Img" alt="">
      <img *ngIf='kongzhi.checked' [src]="kongzhi.name22ImgActive" alt="">
    </li>

    <li *ngIf="!anData.isAdmin" class='centerImg' (click)='showGuest()'>
      <div>
        <img [src]="name3Img" alt="">
      </div>
    </li>
    <li *ngIf="anData.isAdmin" class='centerImg'>
      <div>
        <img [src]="name33Img" alt="">
      </div>
    </li>
    
    <li  (click)="gotoPage(xiaoxi)">
      <img *ngIf='!xiaoxi.checked' [src]="xiaoxi.name4Img" alt="">
      <img *ngIf='xiaoxi.checked' [src]="xiaoxi.name4ImgActive" alt="">
    </li>
    <li  (click)="gotoPage(wode)">
      <img *ngIf='!wode.checked' [src]="wode.name5Img" alt="">
      <img *ngIf='wode.checked' [src]="wode.name5ImgActive" alt="">
    </li>
  </ul>
</div>
