<div id="myHome">
  <div class="homeTopSelect">
    <p><i class='weizhiP'></i><span><span>金融街</span> 长安中心54号院6号楼11层10号柜</span><b class="fr"  [routerLink]="['/safetyCabinet']"></b></p>
  </div>
  <div class='centerBox'>
    <ul class='threeBtn'>
      <li><i></i>一键报警</li>
      <li><i></i>附近呼救</li>
      <li><i></i>联系亲友</li>
    </ul>
    <div class='fourBtn anclear'>
      <div>
        <img src="./assets/imgs/xiaofangshuan.png" alt="">
        <p>消防栓</p>
        <a (click)='openBox("cabinet-text-05")'>打开</a>
      </div>
      <div class="fourBtn02">
        <img src="./assets/imgs/yihulan.png" alt="">
        <p>医护栏</p>
        <a (click)='openBox("cabinet-text-06")'>打开</a>
      </div>
      <div class="fourBtn03">
        <img src="./assets/imgs/taoshenglan.png" alt="">
        <p>逃生栏</p>
        <a (click)='openBox("cabinet-text-08")'>打开</a>
      </div>
      <div>
        <img src="./assets/imgs/gongjulan.png" alt="">
        <p>工具栏</p>
        <a (click)='openBox("cabinet-text-07")'>打开</a>
      </div>
    </div>
    <p>请根据实际需要打开应急柜</p>
  </div>
  <ul class="saveEmpolyee">
    <li>
      <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3937854204,4209154356&fm=111&gp=0.jpg" alt="">
    </li>
    <li>
      <h3>区域安全员：<a>李保全</a> <b class='weizhi weizhiP'></b><span class='mishu'>460m</span></h3>
      <p>负责金融街安全中心区域。</p>
    </li>
    <li>
      <a (click)='callHelp()'>呼救</a>
    </li>
  </ul>
</div>