<div id="myHome">
  <div class="homeTopSelect">
    <p><i></i><span>金融街长安中心54号院</span><b class="fr"  [routerLink]="['/safetyCabinet']">></b></p>
  </div>
  <div class='centerBox'>
    <ul class='threeBtn'>
      <li><img src="" alt="">一键报警</li>
      <li><img src="" alt="">附近呼救</li>
      <li><img src="" alt="">联系亲友</li>
    </ul>
    <div class='fourBtn anclear'>
      <div>
        <img src="" alt="">
        <p>消防栓</p>
        <a (click)='openBox(1)'>打开</a>
      </div>
      <div class="fourBtn02">
        <img src="" alt="">
        <p>医护栏</p>
        <a (click)='openBox(2)'>打开</a>
      </div>
      <div class="fourBtn03">
        <img src="" alt="">
        <p>逃生栏</p>
        <a (click)='openBox(3)'>打开</a>
      </div>
      <div>
        <img src="" alt="">
        <p>工具栏</p>
        <a (click)='openBox(4)'>打开</a>
      </div>
    </div>
    <p>请根据实际需要打开应急柜</p>
  </div>
  <ul class="saveEmpolyee">
    <li>
      <img src="" alt="">
    </li>
    <li>
      <h3>区域安全员：李保全 <span>460m</span></h3>
      <p>负责金融街安全中心区域。</p>
    </li>
    <li>
      <a (click)='callHelp()'>呼救</a>
    </li>
  </ul>
</div>