<div id='mySafetyCabinet'>
  <p [routerLink]="['/index']">
    <i class="weizhiP"></i><span><span>金融街 </span>长安中心54号院6号楼11层10号柜</span>
    <a class='fr'>10m</a>
    <b class="fr" style="color:#008ee0;border:1px solid #008ee0;">公司</b>
  </p>
  <p>
    <i class="weizhiP"></i><span><span>中海金石公馆 </span>1号楼三单元5层5号柜</span>
    <a class='fr'>10m</a>
    <b class="fr" [routerLink]="['/safetyCabinet']">共享</b>
  </p>
  <p>
    <i class="weizhiP"></i><span><span>金融街 </span>长安中心54号院6号楼01层10号柜</span>
    <a class='fr'>500m</a>
    <b class="fr" [routerLink]="['/safetyCabinet']">共享</b>
  </p>
  <p>
    <i class="weizhiP"></i><span><span>金融街 </span>长安中心54号院4号楼01层01号柜</span>
    <a class='fr'>50m</a>
    <b class="fr" [routerLink]="['/safetyCabinet']">共享</b>
  </p>
  <p>
    <i class="weizhiP"></i><span><span>金融街 </span>长安中心54号院4号楼01层01号柜</span>
    <a class='fr'>50m</a>
    <b class="fr" [routerLink]="['/safetyCabinet']">共享</b>
  </p>
</div>
