<div id='mySafetyCabinet'>
  <p>
    <i></i><span>金融街长安中心54号院</span>
    <a class='fr'>10m</a>
    <b class="fr" [routerLink]="['/safetyCabinet']">公司</b>
  </p>
  <p>
    <i></i><span>中海金石公馆1号楼三单元5层5号柜</span>
    <a class='fr'>10m</a>
    <b class="fr" [routerLink]="['/safetyCabinet']">共享</b>
  </p>
  <p>
    <i></i><span>金融街 长安中心54号院6号楼01层10号柜</span>
    <a class='fr'>500m</a>
    <b class="fr" [routerLink]="['/safetyCabinet']">共享</b>
  </p>
  <p>
    <i></i><span>金融街 长安中心54号院4号楼01层01号柜</span>
    <a class='fr'>50m</a>
    <b class="fr" [routerLink]="['/safetyCabinet']">共享</b>
  </p>
  <p>
    <i></i><span>金融街 长安中心54号院4号楼01层01号柜</span>
    <a class='fr'>50m</a>
    <b class="fr" [routerLink]="['/safetyCabinet']">共享</b>
  </p>
</div>
