#mySafetyCabinet{
  text-align: center
}
#mySafetyCabinet>p{
  width:3.6rem;
  height:0.5rem;
  line-height: 0.5rem;
  border-bottom:1px solid #ddd;
  display: inline-block;
  text-align: left;
}
#mySafetyCabinet>p>i{
  float:left;
  position: relative;
  top:0.19rem;
  margin-right: 0.1rem;
}
#mySafetyCabinet>p>b{
    width: 0.38rem;
    height: 0.17rem;
   line-height: 0.17rem;
    text-align: center;
    margin-top: 0.16rem;
    font-weight: 400;
    margin-right: 0.1rem;
    font-size: 0.12rem;
    color:#ff9400;
    border:1px solid #ff9400;
}
#mySafetyCabinet>p>a{
    color:#aaa;
    width:0.3rem;
}
#mySafetyCabinet>p>span{
    color:#666;
}
#mySafetyCabinet>p>span span{
    color:#333;
}