#myMulutalAid{
  padding:0.2rem;
}
#myMulutalAid>div>p{
  font-size: 0.12rem;
  color:#aaa;
  margin-bottom:0.12rem;
  margin-top: 0.18rem;
}
.relative,.friend{
  height:0.9rem;
}
.relative li{
  float:left;
  width:0.4rem;
  text-align: center;
  margin-right:0.3rem;
}
.relative img{
  width: 0.39rem;
  height: 0.39rem;
  border-radius: 50%;
  
}
.friend li span{
  width: 0.55rem;
  height: 0.40rem;
  display: inline-block;
}
.friend li span img{
    width:100%;
    display: inline-block;
    margin-top: 0.05rem;
}
.relative li b{
  width: 0.39rem;
  height: 0.39rem;
  background: url('/assets/imgs/mutualAid/addMore.png')no-repeat center center;
  background-size: 100%;
  display: inline-block;
  line-height: 0.3rem;
}
.friend li{
  float:left;
  width:33.333%;
  text-align: center;
}
.inputSearch{
  width:3.35rem;
  position: relative;
}
.inputSearch b{
  width:0.18rem;
  height:0.18rem;
  position: absolute;
  display: inline-block;
  top: 0.07rem;
  left: 0.15rem;
  background: url('/assets/imgs/mutualAid/suosou.png')no-repeat center center;
  background-size: 86%;
}
.inputSearch input{
  width:100%;
  height:0.32rem;
  background: #ddd;
  outline: none;
  border:none;
  padding-left: 0.5rem;
  box-sizing: border-box;
}
.openUserNamber{
  width:100%;
  height:0.32rem;
  line-height: 0.32rem;
  text-align: center;
  margin: 0.16rem auto;
  border-radius: 0.03rem;
  color:#fff;
}
.phone ul{
  border-bottom:1px solid #ddd;
}
.phone ul:nth-child(1){
  border-top:1px solid #ddd;
}
.phone ul li{
  float:left;

}
.phone ul li:first-child{
  width:0.5rem;
  height:0.6rem;
  line-height: 0.6rem;

}
.phone ul li:nth-child(2){
  width: 2.3rem;
  height: 0.6rem;
  padding-left: 0.12rem;
  box-sizing: border-box;

}
.phone ul li:nth-child(3){
  width:0.55rem;
  height:0.6rem;
  line-height: 0.6rem;
}
.phone ul li img{
  width:0.44rem;
  height:0.44rem;
  border-radius:50%;
  vertical-align: middle

}
.phone ul li h5{
  margin:0.1rem 0;
}
.phone ul li h5{
  font-weight: 500;
  color:#333;
}
.phone ul li h6{
  font-weight: 400;
  color:#666;
}
.borderTop{
  border-top:1px solid #ddd;
}
.phone ul li a{
  display: inline-block;
  width:0.52rem;
  height:0.22rem;
  line-height: 0.22rem;
  text-align: center;
  border-radius: 0.02rem;
  color:#fff;
}
.phone ul li span{
  color:#aaa;
  margin-left: 0.05rem;
}