<app-my-header [hidden]='!anData.headerTag'></app-my-header>
<router-outlet></router-outlet>
<app-my-footer [hidden]='!anData.footerTag'></app-my-footer>
<div id='guestSafeguard' *ngIf="anData.guestSafeguardShow">
  <div class='topContent'>
    <p><b></b>安全求助服务<b></b></p>
    <ul>
      <li>
        <img src="./assets/imgs/mutualAid/hujiaozhoubian.png" alt="">
      </li>
      <li>
        <img src="./assets/imgs/mutualAid/hujiaoanquanyuan.png" alt="">
      </li>
      <li>
        <img src="./assets/imgs/mutualAid/hujiaoqinpenghaoyou.png" alt="">
      </li>
    </ul>
    <ul>
      <li>
        <img src="./assets/imgs/mutualAid/120.png" alt="">
      </li>
      <li>
        <img src="./assets/imgs/mutualAid/119.png" alt="">
      </li>
      <li>
        <img src="./assets/imgs/mutualAid/110.png" alt="">
      </li>
    </ul>
  </div>
  <div class='textCenter'>
    <span (click)=close()></span>
  </div>
</div>
<div id='alertMsg' class='goodposition' *ngIf="anData.alertMsgShow">
  <span>{{anData.alertMsg}}</span>
</div>