<div id="myUserInfo">
  <div>
    <div class="shezheIcon">
      <span></span>
    </div>
    <div class="userInfo">
      <p><i class='userImg'>
        <img src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=830408568,2614684991&fm=58" alt="">
      </i></p>
      <h5 class="textCenter">13898383876</h5>
      <h6 class="textCenter">已安全守护您198天</h6>
      <ul class='threeBtn'>
        <li>
          <i></i>
          <span>认证中心</span>
        </li>
        <li>
          <i></i>
          <span>紧急联系人</span>
        </li>
        <li>
          <i></i>
          <span>急救档案</span>
        </li>
      </ul>
    </div>

    <div class="saveEdurp">
      <span>安全教育</span>
      <i class="fr"></i>
    </div>
    <div class="saveFree">
      <span>安全公益</span>
      <i class="fr"></i>
    </div>
  </div>

</div>