.topBox{
  padding:0.1rem 0.2rem;
}
#myControl b{
  width:0.22rem;
  height:0.22rem;
  display: inline-block;
  vertical-align: middle;
  background: url('/assets/imgs/mutualAid/tu.png')no-repeat center center;
  background-size: 78%;
}
#myControl span{
  margin:0 0.35rem 0 0.1rem;
}
.topBox a{
  color:#fff;
  width: 0.92rem;
  height:0.26rem;
  line-height: 0.26rem;
  text-align: center;
  display: inline-block;
  margin-right: 0.15rem;
  border-radius: 0.02rem;
}
.topBox i{
  width:0.18rem;
  height:0.18rem;
  display: inline-block;
  vertical-align: middle;
  background: url('/assets/imgs/jiantou.png')no-repeat;
  background-position: 0 -0.26rem;
  background-size: 100%;
  transform: scale(0.6);
}
#myControl .topBox>b{
  background: url('/assets/imgs/weizhi.png')no-repeat;
  background-position: 0 -0.32rem;
  background-size: 100%;
}
.contentBox{
  width:3.4rem;
  margin:0.2rem auto;
  padding:0.07rem 0.05rem;
  border:1px solid #ddd;
  border-radius: 0.04rem;
}
.contentBox a{
  float: right;
  width: 0.49rem;
  height:0.26rem;
  line-height: 0.26rem;
  text-align: center;
  margin-left: 0.1rem;
  border-radius: 0.02rem;
  color:#fff;
}
.jiankong{
  background: #2676ee;
}
.kaigui{
  background: #ff5d63;
}